.game-container {
  width: 700px;
  display: flex;
  justify-content: space-between;
}

.game-board {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.ship-options-container {
  width: 30%;
  background-color: paleturquoise;
  height: 120px;
  display: flex;
  align-items: center;
  margin: 30px;
}

.ship1-preview {
  width: 40px;
  height: 16px;
  margin-left: 8px;
}

.ship1 {
  background-color: red;
}

.ship2-preview {
  width: 60px;
  height: 16px;
  margin-left: 8px;
}

.ship2 {
  background-color: burlywood;

}

.ship3-preview {
  width: 60px;
  height: 16px;
  margin-left: 8px;
}

.ship3 {
  background-color: black;

}

.ship4-preview {
  width: 80px;
  height: 16px;
  margin-left: 8px;
}

.ship4 {
  background-color: palevioletred;

}

.ship5-preview {
  width: 100px;
  height: 16px;
  margin-left: 8px;
}

.ship5 {
  background-color: salmon;

}

.btn-container {
  margin-top: 30px;
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 20px;
}


#bot .ship1,
#bot .ship2,
#bot .ship3,
#bot .ship4,
#bot .ship5 {
  background-color: pink;
}
