body {
    /* background-image: url(https://www.freepik.com/free-photo/tabletop-looking-out-empty-restaurant_1355222.htm#query=restaurant%20background&position=0&from_view=keyword&track=ais_hybrid&uuid=a01ab50c-7698-49fb-bf7f-40438977ed22) */
background-color: bisque;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin-right: 20px;
    background-color: orange;
    height: 100px;
}

.page-content {
    justify-content: center;
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-div > ul {
    padding: 0;
    border: 2px solid slategrey;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    height: 200px;
    justify-content: center;
}

li {
    list-style-type: none;
}

button {
    border: none;
    background: none;
    font-size: 20px;
    color: white;
}