* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the root and body to full height */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f0f0f0;
}

#root {
  min-height: 100%;
  display: flex;
}

.App {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #f0f0f0;
}

.input-section {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  margin-right: 20px;
  overflow-y: auto;
  align-items: center;
}

.input-section h3 {
padding: 16px 0 0 20px;
  font-size: 20px;
}

.cv-preview {
  flex: 1;
  overflow-y: auto;
}

.section {
  margin-bottom: 15px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  min-height: 200px;
}

.open-section {
  margin-bottom: 15px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  padding: 12px;
}
.text-section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 8px;
}

.text-section span {
  font-size: 20px;
  font-weight: 600;
}

.section-content {
  padding: 0 15px 15px 15px;
  border: none;
}

.section .section-content {
  display: block;
  padding: 15px;
}

.open-section div span:last-child {
  font-size: 12px;
}

