body {
    font-family: sans-serif
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    background-color: #F4D03F;
    height: 100vh;
}

img {
    height: 45px;
    width: 45px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
}

h1 {
    font-size: 25px;
    padding-left: 10px;
}

.projects-headers{
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.projects-headers > p {
    font-size: 20px;
    padding-right: 20px;
}


.projects-icons{
    display: flex;
    align-items: center;
}
.projects-icons > img {
    width: 30px;
    height: 30px;

}

.view-projects {
    margin-top: 20px;
}

.project-div {
    margin-left: 20px;
    font-size: 18px;
}

.content {
   text-align: center;
   font-size: 35px;
   display: flex;
   flex-direction: column;
}  

.add-project-box, .add-task-box {
    border: 2px solid black;
    width: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 30px 80px 50px;
}

.add-project-box, .add-task-box > h2 {
    font-size: 22px;
}

label {
    font-size: 16px;
    text-align: left;
}
.project-submit-btn, .task-submit-btn{
   background-color: #F4D03F;
   width: 70px;
   height: 30px;
   border-radius: 5px;
   font-size: 16px;
}

.project-cancel-btn, .task-cancel-btn {
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
}

.add-project-form, .add-task-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-name-input {
    display: flex;
    flex-direction: column;
}

.project-form-btn {
    display: flex;
    justify-content: space-evenly;
}

input#descriptions {
    height: 100px;
}

input {
    height: 26px;
}



