body {
    font-family: sans-serif
}

.grid {
    display: grid;
    grid-template-columns: 35% 65%;
}

.sidebar {
    background-color: #F4D03F;
    height: 100vh;
}

img {
    height: 45px;
    width: 45px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    margin: 30px 20px;
}

h1 {
    font-size: 25px;
    padding-left: 10px;
}

.content {
   text-align: center;
   font-size: 35px;
}  
