body {
    font-family: sans-serif
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    background-color: #F4D03F;
    height: 100vh;
}

img {
    height: 45px;
    width: 45px;
}

.icon-text {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
}

h1 {
    font-size: 25px;
    padding-left: 10px;
}

.projects {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.projects > p {
    font-size: 20px;
    padding-right: 20px;
}

.projects-icons{
    display: flex;
    align-items: center;
}
.projects-icons > img {
    width: 30px;
    height: 30px;

}

.content {
   text-align: center;
   font-size: 35px;
   display: flex;
   flex-direction: column;
}  

.add-project-box {
    border: 2px solid black;
    width: 26vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.add-project-box > h2 {
    font-size: 20px;
}

label {
    font-size: 16px;
}

.add-project-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-btn {
    display: flex;
    justify-content: space-evenly;
}