.cardIconWrapper{
  position: relative;
}

img {
  width: 36px;
  height: 36px;
}

.itemCounter {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 18px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background-color: bisque;
  height: 6vh;
  align-items: center;
}
.navCenter {
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.navCenter a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
